MORALIS_API_KEY= # Get your KEY https://admin.moralis.io/account/profile
<!-- CRYPTO_COMPARE_API_KEY= # https://min-api.cryptocompare.com/pricing , https://min-api.cryptocompare.com/documentation -->
INFURA_PROJECT_ID= # Get your key and id here https://app.infura.io/dashboard
INFURA_API_KEY=
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/64
NEXTAUTH_URL=http://localhost:5000 # replace for production